* {
	font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

button {
    background-color: royalblue;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
}

.routes-container {
    margin-left: 15%;
    background-color: white;
    width: 100%;
}

.dummy {
    background-color: red;
    height: 1800px;
    width: 100%;
}